In [21]:
import pandas as pd
import datetime as dt

rd = pd.read_csv('rides.csv', sep=',', skipinitialspace=True)
wt = pd.read_csv('weather.csv', sep=',', skipinitialspace=True)
rd.columns = [i.lower().replace(' ', '_') for i in rd.columns]
wt.columns = [i.lower().replace(' ', '_') for i in wt.columns]
rd.end_date = rd.end_date.astype(str).apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') if len(x) == 19 else pd.NA)
rd.start_date = rd.start_date.astype(str).apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') if len(x) == 19 else pd.NA)
wt.datetime = wt.datetime.astype(str).apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S') if len(x) == 19 else pd.NA)

In [19]:
rd

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo
0,100340,2023-04-22 09:01:03,2023-04-22 09:24:45,Шевченко,Юго-Восточный,Майская,Октябрьский,4069.0,0
1,100341,2023-04-22 09:01:07,2023-04-22 09:29:32,Чехова,заречный,Спортивная,октябрьский,4515.0,0
2,100342,2023-04-22 09:04:27,2023-04-22 09:42:46,Буденного,Октябрьский,Суворова,ленинский,4520.0,0
3,100343,2023-04-22 09:06:34,2023-04-22 09:38:23,Труда,Центральный,Рабочая,Северо-Западный,3881.0,0
4,100344,2023-04-22 09:09:27,2023-04-22 09:40:07,Первомайская,Северо-Западный,Юбилейная,Юго-Восточный,4029.0,0
...,...,...,...,...,...,...,...,...,...
102250,197707,2023-07-31 23:45:06,2023-08-01 00:06:55,Озерная,Юго-Восточный,Первомайская,Северо-Западный,3302.0,0
102251,197708,2023-07-31 23:46:01,2023-08-01 00:25:35,Мичурина,Ленинский,Садовая,Заречный,4992.0,0
102252,197709,2023-07-31 23:48:04,2023-08-01 00:09:21,Лермонтова,ленинский,Куйбышева,Центральный,2781.0,0
102253,197710,2023-07-31 23:51:41,2023-08-01 00:38:04,Рябиновая,Северо-Западный,Энергетиков,Юго-Восточный,6466.0,0
102254,197711,2023-07-31 23:57:01,2023-08-01 00:19:03,Молодежная,Юго-Восточный,Маяковского,Центральный,3561.0,0

In [20]:
wt

,datetime,temperature,precipitation_total,wind_gust,wind_speed,cloud_cover_total,sunshine_duration
0,<NA>,°C,mm,km/h,km/h,%,min
1,2023-04-01 00:00:00,8.740245,0.1,48.6,21.638964,90,0
2,2023-04-01 01:00:00,9.040245,0.2,55.44,22.493519,74,0
3,2023-04-01 02:00:00,8.880245,0.3,55.8,22.26477,72,0
4,2023-04-01 03:00:00,8.690246,0.3,55.44,21.94524,77,0
...,...,...,...,...,...,...,...
3668,2023-08-31 19:00:00,16.940245,0,10.799999,1.08,89,1.4999998
3669,2023-08-31 20:00:00,16.630245,0,11.159999,1.1384199,83,0
3670,2023-08-31 21:00:00,17.080246,0.1,17.64,3.396233,82,0
3671,2023-08-31 22:00:00,17.180244,0,21.599998,7.2359104,80,0
3672,2023-08-31 23:00:00,17.360245,0,21.24,7.2359104,67,0